
<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h4 class="m-5 w-25 bg-light text-center">商品一覧</h4>
    </div>
    <div class="col-sm-2 px-sm-0 text-right mt-5">
      <%= link_to new_admin_item_path do %>
      <i class="fa fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td class="align-middle"><%= item.id %></td>
                <td class="align-middle">
                  <%= link_to admin_item_path(item.id) do %>
                  <u><%= item.name %></u>
                </td>
                <% end %>
                <td class="align-middle"><%= item.price.to_s(:delimited) %></td>
                <td class="align-middle"><%= item.genre.name %></td>
                <td class="align-middle">
                  <% if item.is_active == true %>
                   <p class="text-success font-weight-bold">販売中</p>
                  <% else %>
                    <p class="text-danger font-weight-bold">販売停止中</p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    　<div class="col-sm-10 offset-1">
        <%= paginate @items %>
      </div>
    </div>
</div>