<div class="container my-5">
  <div class="row mt-3">
    <div class="col-sm-4 px-sm-0 offset-sm-1">
      <h4 class="bg-light text-center">ログイン</h4>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-sm-4 px-sm-0 offset-sm-1">
      <h6 class="bg-light text-center">会員の方はこちらからログイン</h6>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-sm-2 px-sm-0 offset-sm-1">
      <%= f.label "メールアドレス" %>
    </div>
    <div class="col-sm-3 px-sm-0">
      <%= f.email_field :email, autofocus: true, :placeholder => "sample@example.com", :size => "30" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 px-sm-0 offset-sm-1">
      <%= f.label "パスワード" %>
    </div>
    <div class="col-sm-3 px-sm-0">
      <%= f.password_field :password, :size => "30"%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 px-sm-0 offset-sm-3">
      <%= f.submit "ログイン",class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>
  <div class="row my-3">
    <div class="col-sm-4 px-sm-0 offset-sm-1">
      <h6 class="bg-light text-center">会員登録がお済みでない方</h6>
      <p class="text-center"><%= link_to "こちら", new_customer_registration_path %>からログインしてください。</p>
    </div>
  </div>
</div>